.Nav {
display: flex;
padding: 30px;
}
.Nav--logo {
  align-items: flex-start;
}
.Nav--logo img {
  width: 530px;
  transition: all ease-in-out .4s;
  filter: sepia(0);
}
.Nav--logo img:hover {
  filter: sepia(100%);
}
.Nav--social img {
  width: 115px;
}
.Nav--list {
  align-items: flex-end;
  display: inline-block;
  margin-left: auto;
  position: fixed;
  top: 0px;
  right: 35px;
  z-index: 100;

}
.Nav--list li {
  display: inline-block;
  margin: 0 15px;
  padding: 10px;
  border-bottom: 5.4px solid grey;
  transition: all ease-out .3s;
}
.Nav--list li:hover {
  padding-top: 10px;
  border-bottom: 5px solid #ddd;
}
.Nav--list ul {
  letter-spacing: 4px;
  background: rgba(68,68,68,0.7);
  font-weight: 100;
  position: relative;
  left: 30px;
}
.Nav--list a {
  color: white;
  text-decoration: none;
  padding-bottom: 6px;
}
.Nav--list a:visited {
  color: inherit;
}
