
@import "Promo/master.css";
@import "EpBadge/master.css";
@import "Story/master.css";
@import "Members/master.css";
@import "Gigs/master.css";
@import "Footer/master.css";
body, html {
  box-sizing: border-box;
  background: #1a1a1a;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #F4F4F4;
  min-width: 1183px;
  margin: 0 auto;
  border: 2px solid #e0e0e0;
  border-top: none;
  border-bottom: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Promo {
  clear: both;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #232526 , #414345, #bdbdbd);
  background-size: cover;
  height: 100%;
}
.Badge {

}
.Story {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 1180px;
  background: url('../../public/img/ourstory.jpg');
}
.Members {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 1180px;
  background: url('../../public/img/members.jpg');
  background-size: cover;
  background-position-y: -590px;
  display: flex;
  flex-flow: column;
  text-transform: uppercase;

}
.Gigs {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 1180px;
  background: url('../../public/img/gigs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -140px;
}
