
.Story > h1 {
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0px 0px 8px black;
}
.Story--content {
  font-size: 14px;
  letter-spacing: 2.2px;
  color: #F4F4F4;
  text-shadow: 0px 5px 5px #444;
  align-items: center;
  text-align: center;
  background: rgba(189, 189, 189, 0.5);
  margin: 0px 60px;
  text-align: left;
  line-height: 1.4;
}
.Story--column {
  display: inline-flex;
  width: 33%;
}
.Story--column p {
  padding: 30px;
}
